@model Rstolsmark.WakeOnLanServer.Pages.WakeOnLan.Model.Computer

<label asp-for="Name">Name</label>
<input asp-for="Name"/>

<label asp-for="IP">IP address</label>
<input asp-for="IP"/>
    
<label asp-for="MAC">MAC address</label>
<input asp-for="MAC"/>

<label asp-for="SubnetMask">Subnet mask</label>
<input asp-for="SubnetMask"/>