@page
@model CreateModel
<h1>Add computer</h1>
<p>You must first do the following on your computer:</p>
<ul>
    <li><a href="https://tunecomp.net/allow-incoming-ping-echo-request-without-disabling-windows-10-firewall/">Allow ping through firewall</a></li>
    <li><a href="https://www.groovypost.com/howto/enable-wake-on-lan-windows-10/">Activate Wake On Lan</a></li>
</ul>
<form method="POST" class="main-form">
    <partial name="_ComputerForm" model="@Model.Computer"/>
    <button>Add</button>
</form>