@page "{ComputerName}"
@model EditComputerModel
<h1>Edit @Model.ComputerName</h1>
<form method="POST" class="main-form">
    <partial name="_ComputerForm" model="@Model.Computer"/>
    <button>Save</button>
</form>