<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wake on LAN server</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <a asp-page="/Index">Status</a>
            <a asp-page="/Create">Legg til datamaskin</a>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</body>
</html>
