<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wake on LAN server</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <a asp-page="/Index">Status</a>
        <a asp-page="/Create">Add computer</a>
    </header>
    <main role="main">
        <p class="alert" if='TempData.ContainsKey("Message")'>
            @TempData["Message"]
        </p>
        @RenderBody()
    </main>
</body>
</html>
