body{
  max-width: 708px;
  margin: auto;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  margin-top: 20px;
  background: #f2f2f2;
}

a, a:visited{
  color: black;
}

header > menu{
  display: inline-block;
  margin: 0;
  padding: 0;
}

header > menu > li{
  display: inline-block;
  vertical-align: top;
}

button {
  cursor: pointer;
  height: 30px;
}

.main-grid {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.main-grid-item {
  border:2px solid black;
  padding-bottom: 10px;
}

.main-grid-item-name{
  background-color: lightcoral;
  padding: 10px;  
  border-bottom:2px solid black;
  margin: 0;
}

.main-grid-item-name.enabled {
  background-color: lightseagreen;
}

.main-grid-item-properties {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: auto;
  grid-row-gap: .5em;
  grid-column-gap: 1em;
}

.main-grid-item-property-name {
  font-weight: bold;
}
.main-grid-item-content{
  margin: 10px;
}

.main-grid-item-actions{
  margin-top: 10px;
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: auto;
  grid-row-gap: .5em;
}

.alert{
  background: lightblue;
  border: 2px solid;
  padding: 20px;
}
/*Create page*/
.create-form{
  display: grid;
  width: 200px;
  grid-row-gap: 10px;
}
.create-form > button{
  width:100px;
}
label{
  font-weight: 700;
}