body{
  max-width: 708px;
  margin: auto;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  margin-top: 20px;
  background: #f2f2f2;
}

a, a:visited{
  color: black;
}

header > menu{
  display: inline-block;
  margin: 0;
  padding: 0;
}

header > menu > li{
  display: inline-block;
}

header > span{
  vertical-align: top;
}

input[type=submit]{
  cursor: pointer;
  height: 30px;
}

#computers{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.computer{
  border:2px solid black;
  padding-bottom: 10px;
}

.computer :not(:first-child){
  margin-left: 10px;
}

.computer-name{
  background-color: lightcoral;
  padding: 20px;  
  border-bottom:2px solid black;
}

.computer-name.awake{
  background-color: lightseagreen;
}

.alert{
  background: lightblue;
  border: 2px solid;
  padding: 20px;
}
/*Create page*/
#create-form{
  display: grid;
}
#create-form > input[type=text]{
  margin-bottom:10px;
  margin-top:5px;
  width:200px;
}
#create-form > input[type=submit]{
  width:100px;
}
label{
  font-weight: 700;
}