body{
  width: 688px;
  margin: auto;
  margin-top: 20px;
  background: #f2f2f2;
}

input[type=submit]{
  cursor: pointer;
}

table{
  border:2px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 20px;  
  border:2px solid black;
}

th {
  background-color: lightcoral;
}

tbody tr:nth-child(odd){
  background-color: lightgray;
}

.alert{
  background: lightblue;
  border: 2px solid;
  padding: 20px;
}
h1{
  text-align: center;
}