@page
@inject IConfiguration _configuration
<h1>Backend down</h1>
<p>The port forwarding backend is currently unavailable.</p>
<p>Check if the configuration is correct or try to restart the router / controller backend.</p>
