@page
@using Rstolsmark.WakeOnLanServer.Pages.PortForwarding.Model
@model CreatePortForwardingModel
<h1>Add Port forwarding</h1>
<form method="POST" class="create-form">
    <label asp-for="Name">Name</label>
    <input asp-for="Name" required="required"/>
    <label asp-for="Protocol">Protocol</label>
    <select asp-for="Protocol" required="required" asp-items="Html.GetEnumSelectList<Protocol>()">
    </select>
    <label asp-for="SourceIp">Source IP</label>
    <input asp-for="SourceIp"/>
    <label asp-for="SourcePort">Source port</label>
    <input asp-for="SourcePort" min="0" max="65535"/>
    <label asp-for="DestinationIp">Destination IP</label>
    <input asp-for="DestinationIp" required="required"/>
    <label asp-for="DestinationPort">Destination port</label>
    <input asp-for="DestinationPort" required="required" min="0" max="65535"/>
    <button>Add</button>
</form>