@page "{PortForwardingId}"
@model Rstolsmark.WakeOnLanServer.Pages.PortForwarding.DeletePortForwarding
<h1>Delete Port forwarding</h1>
<p>Confirm deletion of @Model.Name</p>
<form method="POST">
    <button>Delete</button>
</form>