@page "{PortForwardingId}"
@model EditPortForwardingModel
<h1>Edit @Model.Dto.Name</h1>
<form method="POST" class="main-form">
    <partial name="_PortForwardingForm" model="@Model.Dto"/>
    <button>Save</button>
</form>